@font-face {
    font-family: "sourcesanspro bold";
    src: url(fonts/SourceSansPro-Bold.ttf);
}
body{
    max-width: 675px;
    margin:30px auto ;
    text-align: center;
    font-family: "sourcesanspro bold";
    background-color: #e0e5ea;
    background-image: url(JH-Pattern.svg);
    background-size: 95px;
    background-blend-mode: normal;
    font-size: 2.25em;
}